version: "3.9"

services:
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    restart: always
    networks:
      - inception
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    secrets:
      - db_root_password
      - db_password

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    restart: always
    depends_on:
      - mariadb
    networks:
      - inception
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_HOST: mariadb
    volumes:
      - wordpress_data:/var/www/wordpress
    ports:
      - "8000:9000"
    secrets:
      - db_password

  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    restart: always
    depends_on:
      - wordpress
    networks:
      - inception
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/wordpress:ro

networks:
  inception:
    driver: bridge

volumes:
  mariadb_data:
  wordpress_data:

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt


# volumes:
#   mariadb_data:
#     driver: local
#     driver_opts:
#       type: none
#       device: /home/lucas/data/mariadb
#       o: bind

#   wordpress_data:
#     driver: local
#     driver_opts:
#       type: none
#       device: /home/lucas/data/wordpress
#       o: bind

# services:
#   mariadb:
#     volumes:
#       - mariadb_data:/var/lib/mysql

#   wordpress:
#     volumes:
#       - wordpress_data:/var/www/wordpress
